<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css" type="text/css">
    </head>
    <body>
        {{>header}}
        <img src="/img/mahatma-gandhi.jpg">
        <p>{{name}}</p>
    </body>
</html>