<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css" type="text/css"/>
    </head>
    <title>Help</title>
    <body>
        <div class="main-content">
            {{>header}}
            <p>{{description}}</p>
        </div>
        {{>footer}}
    </body>
</html>